/* GLOBAL */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f4f6f9;
color: black;
transition: 0.3s;
overflow-x: hidden;
margin: 0;
padding: 0;
}

/* HERO */

.hero{
height:500px;
background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
url("https://images.unsplash.com/photo-1521737604893-d14cc237f11d");
background-size:cover;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
color:white;
text-align:center;
margin-top: 70px;
}

.hero h1{
font-size:45px;
margin-bottom:10px;
}

.hero p{
margin-bottom:20px;
}

/* SEARCH */

.search-box{
background:white;
padding:20px;
border-radius:6px;
box-shadow:0 5px 15px rgba(0,0,0,.2);
}

.search-box input{
padding:10px;
margin:5px;
width:200px;
border:1px solid #ccc;
}

.search-box button{
padding:10px 20px;
background:#2563eb;
color:white;
border:none;
cursor:pointer;
}
